/node_modules
/package
magicscouting/build.zip
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
bundle.zip
android/app/my-release-key.keystore
