@import "@flaticon/flaticon-uicons/css/all/all.css";

@import '$lib/styles/themes/blueTheme.css';
@import '$lib/styles/themes/greenTheme.css';
@import '$lib/styles/themes/pinkTheme.css';
@import '$lib/styles/themes/purpleTheme.css';
@import '$lib/styles/themes/redTheme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html[theme=''] {
		--color-primary: #356ee8;
		--color-primary-light: #3da5ff;
		--color-primary-light-opac: #3da5ff4d;
		--color-primary-heavy: #121212;
		--color-secondary: #eb3a31;
		--color-buttons: #3da5ff;
		--color-gradient-light: #3da5ff;
		--color-gradient-heavy: #1e3edf;
	}
	html{
		--color-surface1: #282828;
		@apply bg-[#EAEAEC] dark:bg-primary-heavy;
	}
}

@layer components {
	.home-inp {
		color: white;
		/* font-family: 'Outfit', Tahoma, Geneva, Verdana, sans-serif; */
		font-weight: bold;
		@apply box-border text-[#474747] dark:text-[#E0E0E0] bg-transparent border-2 dark:border-0 border-[#474747] dark:bg-grey-heavy rounded-xl py-2 px-4 w-full
        focus:outline-none focus:outline-grey-heavy 
        active:outline-none hover:border-[3px] dark:hover:border-0 dark:hover:bg-grey-light flex align-middle 
        justify-center placeholder:text-[#666666];
	}
	.home-inp:autofill {
		background-color: #004aad;
	}
	.home-label {
		/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 20px;
		@apply text-[#474747] dark:text-[white] font-bold;
	}

	.disabled-btn {
		@apply bg-gray-500 dark:bg-gray-500 hover:bg-gray-500 dark:hover:bg-gray-500 dark:hover:text-primary-heavy;
	}

	.separator {
		@apply bg-gradient-to-r from-gradient-light to-gradient-heavy;
		height: 2px;
		/* margin: 15px 0; */
		width: 80%;
	}

	.barcode-scanning-active {
		visibility: hidden;
		background: unset;
	}
}